<div class="container">
  <h1>About me</h1>
  <h2>Learn more about myself</h2>
  <p>I am a 4th year student of Civil Engineering at the Universidad de los Andes, for my mayor major I chose Construction Engineering, but I always liked programming so I decided to take the technological concentration of web design. I'm already in the last programming course and I can say that I liked it and learned a lot.</p>
</div>
